## Data Types

### Numbers
* From arithmetic discussion, learned about two data types
    * integers
    * floats (decimals)
* `type` is a *function*
* a function is a name with inputs which encapsulates a useful bit of work
* This function returns the *data type* of an argument, the object in the parenthesis.

In [ ]:
type(1)

In [ ]:
type(1.0)

Note that `=` is the *assignment* operator.  Assigns value of right side of expression to left side operand.

So we can use a single equal sign to do a variable assignment, so we can say `x` equals 4, and now we can use the variable name `x` in further computation.

In [ ]:
x = 7

In [ ]:
print(x)

In [ ]:
type(x)

`type` takes as input some objects like the number 7, and it spits out what data type that object is.

### Strings
Another data type, is called a *string*.
* It is an array of sequenced characters written inside single or double quotes

In [ ]:
"Hello"

In [ ]:
type("Hello")

Strings are important as they allow us to print and communicate with the outside world.

An important operation on strings is concatentation.

In [ ]:
"Hello" + "World"

In [ ]:
"Hello" + " " + "World"

In Python you can assign any data type to a variable, so strings are no exception.

In [ ]:
name = "Santiago"

In [ ]:
type(name)

In [ ]:
"Hello " + name

What about double vs. single quotes?

In [ ]:
'Santiago' == "Santiago"  
# if the values of two operands are equal, then the condition becomes true.

What is this, "1" ? And, what about this, "1.0" ?

In [ ]:
type("1")

In [ ]:
type("1.0")

The addition operator is used to add numbers and to concatenate strings.  Can we add a string to an integer?

In [ ]:
4 + "pitter patter"

We get a traceback, indicating something is wrong.  Here we have a *type error*.  We can't add a string and an integer, and we can't concatenate them.  Python doesn't know how to do what we've asked.

We can fix this with a new function, called the `str` function

In [ ]:
# get help on this function, show shift-tab on str
str?

In [ ]:
str(1)

What will happen with? 

                    "Hello " + str(1)

We know we can concatenate strings, and we know that the `str` function turns a number into a string, so this should work.

In [ ]:
"Hello " + str(1)

Strings have a notion of length.  How do we measure?  The `len` function.

In [ ]:
len?

In [ ]:
len("Hello")

We can multiply a string by a number?  Why would we do this?

In [ ]:
'A' * 40

Algebra with strings

In [ ]:
h = 'Happy'
b = 'Birthday'
(h + b)*10

In [ ]:
len((h + b)*10)  # 13 * 10

## The `print` function

In [ ]:
"Hello"

When we type "Hello" in jupyter or in Python interactive mode (from a terminal) the string is returned to the screen.  When we write scripts and run them, we need a way to return output like this.

If we type in `z = 4` into a cell, then `z`, 4 is returned to the screen

In [ ]:
z = 4

In [ ]:
z

This only works interactively, it doesn't work in files.  Thus, we need a more explicit way to handle output.

This is where the `print` function becomes important. 

`print("Hello")`, ensures that the string is displayed when you run a file.

Note that the input can be as complex as you want.

In [ ]:
# show help for print
print?

In [ ]:
name = 'Santiago'

In [ ]:
print("Hello " + name)